@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari, and Edge */
.flex-1::-webkit-scrollbar {
  display: none;
}

/* Optional: If you want to style the scrollbar */
.flex-1::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.flex-1::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
